---
layout: default
---

   <div class="post-title">
    <section class="post">
            <h1 class="h1 responsive-h1 caps"><span>{{page.title}}</span></h1>
            {% if page.authors %}
              {% for author_id in page.authors %}
                {% assign author = site.authors[author_id] %}
                    <a class="author" target="_blank" href="{{author.link}}">{{author.name}}</a>
                    {% if forloop.last == false -%}, {% endif %}
              {% endfor %}
            {% else %}
              {% if page.author %}
                {% assign author_id = page.author %}
              {% endif %}
            {% else %}
              {% assign author_id = site.default_author %}
            {% endif %}
        {% assign author = site.authors[author_id] %}
        {% if author.link %}
          <a target="_blank" href="{{author.link}}">{{author.name}}</a>
        {% else %}
          <a target="_blank" href="/authors.html#{{author_id}}">{{ author.name }} </a>
        {% endif %}
    &middot;
    {{ page.date | date_to_long_string }}
  </span>
            <hr class=""/>
            <div class="post_content">
            {{ content }}
              </div>
  </section>
  </div>
